[Desktop Entry]
Version=1.0
Name=LocalMediaSearch
Name[zh_CN]=本地媒体搜索
Comment=AI-powered local media search tool
Comment[zh_CN]=本地媒体智能搜索工具
Exec=/usr/lib/LocalMediaSearch/LocalMediaSearch
Icon=/usr/lib/LocalMediaSearch/logo.ico
Terminal=false
Type=Application
Categories=Utility; 